/* Variable */
#rightDecoration {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -10;
  width: 70%;
}

section {
  padding: 80px 150px;
}

#firstSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
#firstSec .left {
  width: 40%;
}
#firstSec .left .help {
  color: #393939;
  margin: auto 0;
  font-family: "Montserrat Bold", serif;
  font-size: 45px;
}
#firstSec .right {
  width: 50%;
}
#firstSec .right div {
  width: 100%;
}
#firstSec .right div img {
  width: 100%;
}
#firstSec #rondInv1 {
  width: 300px;
  height: 300px;
  position: absolute;
  left: -150px;
  bottom: -50px;
}
#firstSec #rondInv2 {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 90px;
  left: 570px;
}
#firstSec .square {
  position: absolute;
}
#firstSec #squareFonce {
  left: 350px;
  bottom: 50px;
  transform: rotate(45deg);
}
#firstSec #squareClaire {
  right: 50px;
  bottom: 25px;
  transform: rotate(45deg);
}

#secondSec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;
  padding: 35px 50px 0 0;
}
#secondSec .left {
  background-image: url("../../image/leftMiddle.svg");
  background-repeat: no-repeat;
  width: 50%;
  background-size: contain;
  min-width: 432px;
  padding: 150px 10px 150px 50px;
}
#secondSec .left img {
  width: 80%;
}
#secondSec .left #rondInvSecondSec1 {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 33%;
  top: 240px;
  z-index: 10;
}
#secondSec .left #rondInvSecondSec2 {
  width: 180px;
  height: 180px;
  position: absolute;
  left: 31%;
  bottom: 200px;
  z-index: 10;
}
#secondSec .right {
  min-width: 540px;
  width: 50%;
  margin: auto 0;
  position: relative;
}
#secondSec .right .advElem {
  display: flex;
  flex-direction: row;
}
#secondSec .right p {
  color: rgba(0, 0, 0, 0.5);
}
#secondSec .right #rondInvSecondSec3 {
  width: 180px;
  height: 180px;
  position: absolute;
  bottom: 20%;
  right: 0;
}
#secondSec #rondClaire {
  position: absolute;
  left: 50px;
  top: 50%;
  z-index: 10;
}
#secondSec #rondFonce {
  position: absolute;
  right: 300px;
  z-index: 10;
}

#thirdSec {
  padding: 50px 5% 150px;
}
#thirdSec #buy {
  position: relative;
  box-shadow: 20px 20px 0 0 #bdaa99;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px;
  background: #774418;
  background: linear-gradient(90deg, #774418 0%, #3c220c 100%);
  width: 100%;
  border-radius: 50px;
}
#thirdSec #buy #eolImages {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#thirdSec #buy #eolImages .eolContainer {
  cursor: pointer;
  border-radius: 25px;
  position: relative;
  padding: 20px;
  background: #d9b799;
  background: linear-gradient(311deg, rgba(217, 183, 153, 0.36) 36%, rgba(60, 34, 12, 0.36) 100%);
  width: 187px;
  height: 187px;
  margin: 12px;
}
#thirdSec #buy #eolImages .eolContainer img {
  max-height: 114px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#thirdSec #buy #bigEolImage {
  position: relative;
  margin: auto 50px;
}
#thirdSec #buy #bigEolImage img {
  width: 400px;
  height: 400px;
}
#thirdSec #buy #eolDescription {
  position: relative;
  flex: 1;
  color: white;
  margin: auto 0;
}
#thirdSec #buy #eolDescription * {
  font-family: "Montserrat Bold", serif;
}
#thirdSec #buy #eolDescription h2 {
  color: white;
  font-size: 40px;
}
#thirdSec #buy #eolDescription h2 .price {
  color: white;
  padding: 10px;
  background-color: #7D8F41;
  border-radius: 25px;
}
#thirdSec #buy #eolDescription .advice {
  display: inline-block;
  margin: 10px 0 0;
  vertical-align: middle;
  font-family: "Montserrat Regular", serif;
}
#thirdSec #buy #eolDescription .desc {
  margin: 75px 0;
}
#thirdSec #buy #eolDescription p {
  color: white;
  font-size: 24px;
}
#thirdSec #buy #eolDescription form {
  display: flex;
  justify-content: space-between;
  height: 67px;
  width: 70%;
}
#thirdSec #buy #eolDescription .number {
  text-align: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
}
#thirdSec #buy #eolDescription .number .left-number {
  user-select: none;
  cursor: pointer;
  font-size: 44px;
  background-color: #7D8F41;
  width: 40px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin: auto 0;
}
#thirdSec #buy #eolDescription .number .right-number {
  user-select: none;
  cursor: pointer;
  font-size: 44px;
  background-color: #7D8F41;
  width: 40px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
#thirdSec #buy #eolDescription .number input {
  border: none;
  width: 65px;
  padding: 5px;
  font-size: 30px;
  color: #7D8F41;
  text-align: center;
}
#thirdSec #buy #eolDescription .number input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
#thirdSec #buy #eolDescription .number input:focus {
  outline: none;
}
#thirdSec #buy #eolDescription .add-to-cart {
  border: none;
  background-color: #7D8F41;
  color: white;
  border-radius: 30px;
  font-size: 25px;
  transition: background-color 0.6s;
}
#thirdSec #buy #eolDescription .add-to-cart img {
  padding: 5px;
  height: 45px;
  vertical-align: middle;
}
#thirdSec #buy #eolDescription .add-to-cart:hover {
  border: none;
  background-color: #FAB40A;
  color: white;
  border-radius: 30px;
  font-size: 25px;
}
#thirdSec #buy #eolDescription .add-to-cart:hover img {
  padding: 5px;
  height: 45px;
  vertical-align: middle;
}
#thirdSec #buy #rondClaireBuy {
  position: absolute;
  z-index: 10;
  top: 50px;
  right: -50px;
}
#thirdSec #buy #squareClaireBuy {
  position: absolute;
  z-index: 10;
  transform: rotate(30deg);
  bottom: -50px;
  left: -15px;
}
#thirdSec #buy .rond-inv {
  position: absolute;
  height: 180px;
  width: 180px;
  z-index: 10;
}
#thirdSec #buy #rondInvThirdSec1 {
  bottom: -130px;
  left: 250px;
}
#thirdSec #buy #rondInvThirdSec2 {
  bottom: -80px;
  right: 150px;
}
#thirdSec #buy #rondInvThirdSec3 {
  top: -90px;
  left: 50%;
}

@media screen and (max-width: 1245px) {
  #thirdSec {
    padding-bottom: 150px;
  }
  #thirdSec #buy {
    justify-content: space-between;
  }
  #thirdSec #buy #bigEolImage {
    flex: 1;
  }
  #thirdSec #buy #bigEolImage img {
    width: 100%;
  }
  #thirdSec #buy #eolDescription {
    margin-top: 15px;
    flex-basis: 100%;
  }
  #thirdSec #buy #eolDescription h2 {
    font-size: 35px;
    margin: 0;
  }
}
@media screen and (max-width: 1100px) {
  #firstSec {
    padding: 100px 40px;
  }
  #firstSec .right {
    position: relative;
  }
  #firstSec .right img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  #secondSec {
    flex-direction: row;
  }
  #secondSec .left {
    background-image: none;
    padding: 0;
    width: 40%;
  }
  #secondSec .left img {
    width: 100%;
  }

  .rond, .rond-inv, .square {
    display: none;
  }
}
@media screen and (max-width: 888px) {
  #thirdSec {
    padding-bottom: 150px;
  }
  #thirdSec #buy {
    justify-content: space-between;
  }
  #thirdSec #buy #eolImages {
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  #thirdSec #buy #eolImages .break {
    flex-basis: 100%;
    height: 0;
  }
  #thirdSec #buy #bigEolImage {
    flex-basis: 100%;
    margin: 15px 0;
  }
}
@media screen and (max-width: 767px) {
  #rightDecoration {
    display: none;
  }

  #firstSec {
    padding: 80px 5%;
  }
  #firstSec .left .help {
    font-size: 25px;
    color: rgba(0, 0, 0, 0.5);
  }
  #firstSec .left, #firstSec .right {
    width: 90%;
  }
  #firstSec .right {
    position: relative;
  }
  #firstSec .right img {
    position: relative;
  }

  #secondSec .right, #secondSec .left {
    width: 100%;
    min-width: 0;
  }
  #secondSec .left {
    width: 80%;
  }
  #secondSec .right .advElem {
    padding: 5px;
    flex-direction: column;
  }
  #secondSec .right .advElem p {
    font-size: 20px;
  }
  #secondSec .right .advElem h3 {
    font-size: 30px;
  }
  #secondSec .right .advElem img {
    width: 100px;
  }

  #thirdSec {
    padding: 0 0 50px;
  }
  #thirdSec #buy {
    padding: 20px 10px;
    width: 100%;
    box-shadow: none;
  }
}
