/* Imports */
@import "../variable";
@import "../fonts";
/* Imports */
/* Body */
body {
    margin: 0;
    overflow-x: hidden;
}

/* Body */
/* Forms */
#rightDecoration {
    position: absolute;
    right: 0;
    top: -1px;
    z-index: -10;
    width: 70%;
    pointer-events: none;
}

#rondInv1 {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 610px;
    bottom: 100px;
    z-index: -10;
    opacity: 0.45 !important;
}

#rondInv2 {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 380px;
    bottom: -70px;
    z-index: 25;
    opacity: 0.45 !important;
}

#rondInv3 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: -25px;
    z-index: 10;
    opacity: 0.45 !important;
}

#rond01 {
    position: absolute;
    left: 250px;
    bottom: 10%;
    transform: rotate(45deg);
    z-index: -10;
}

/* Forms */
/* Blog style */
section {
    padding: 80px 150px;
}
#blog-sect1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;

    .left {
        width: 40%;
        min-width: 450px;
        margin: auto 0;
    }
    h1 {
        font-size: 61px;
    }
    .right {
        width: 50%;
        min-width: 450px;

        img {
            width: 100%;
        }
    }

    #rondInv1 {
        width: 300px;
        height: 300px;
        position: absolute;
        left: -150px;
        bottom: -50px;
    }

    #rondInv2 {
        width: 180px;
        height: 180px;
        position: absolute;
        bottom: 90px;
        left: 570px;
    }

    .square {
        position: absolute;
    }

    #squareFonce {
        left: 350px;
        bottom: 50px;
        transform: rotate(45deg);
    }

    #squareClaire {
        right: 50px;
        bottom: 25px;
        transform: rotate(45deg);
    }
}

#articles {
    padding: 50px 150px;
    .row {
        margin: 50px 0;
    }
}
.articleBlock {
    width: 75%;
    margin: 50px 0;
    border-radius: 17px;
    height: 300px;
    position: relative;
    * {
        color: white;
    }
    .background-right {
        z-index: 5;
        position: absolute;
        right: 0;
        height: 100%;
        width: 40%;
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-right-radius: 17px;
        border-bottom-right-radius: 17px;
    }
    .background-left {
        z-index: 6;
        position: absolute;
        border-top-left-radius: 17px;
        border-bottom-left-radius: 17px;
        height: 100%;
        width: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../image/ArticleForm.svg");
    }
    .background-left * {
        margin-left: 25px;
        padding: 0;
    }
    .background-left:nth-child(0n+1) {
        padding-top: 15px;
    }
    h2 {
        word-break: break-word;
        font-weight: bold;
        color: white;
        width: 75%;
    }

    .separator {
        margin-left: 10px;
        border-bottom: 2px solid white;
        width: 78%;
    }

    p {
        word-break: break-word;
        width: 75%;
        margin-top: 10px;
        font-size: 20px;
        font-weight: bold;
    }

    .button {
        position: absolute;
        bottom: 0px;
        left: 5px;
        color: black;
        margin-bottom: 20px;
        margin-left: 10px;
        padding: 15px;
        background-color: white;
        border-radius: 30px;
        font-family: "Montserrat Bold", serif;
    }

    .postPreviewImage {
        object-fit: cover;
        z-index: -100;
        width: 456px;
        height: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
        border-radius: 0px 15px 15px 0px;
        right: 0px;
        top: 0px;
    }
}
@media screen and (max-width: 1544px) {
    .articleBlock {
        width: 100%;
    }
}
@media screen and (max-width: 1200px) {
    #articles {
        padding: 80px 10px;
    }
}
@media screen and (max-width: 957px) {
    .articleBlock {
        .background-left {
            width: 100%;
            border-radius: 17px;
            background: rgb(125,143,65);
            background: -moz-linear-gradient(72deg, rgba(125,143,65,1) 0%, rgba(125,143,65,1) 0%, rgba(63,72,33,1) 100%);
            background: -webkit-linear-gradient(72deg, rgba(125,143,65,1) 0%, rgba(125,143,65,1) 0%, rgba(63,72,33,1) 100%);
            background: linear-gradient(72deg, rgba(125,143,65,1) 0%, rgba(125,143,65,1) 0%, rgba(63,72,33,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7d8f41",endColorstr="#3f4821",GradientType=1);
        }
        .separator {
            margin: 0;
            width: 100%;
        }
    }
}
.moreArticles {
    background-color: rgb(86, 98, 45);
    color: White;
    margin: 10px;
    padding: 15px 80px;
    border-radius: 10px;
    font-size: 30px;
    border: 0px solid transparent;
    font-family: "Lato Bold";
}

/* Blog style */
/* Responsive */
@media screen and (max-width: 1234px) {
    #blog-sect1 {
        margin-bottom: 400px;

        .left {
            h1 {
                font-size: 50px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .articleBlock {
        .postPreviewImage {
            width: 43%;
        }
    }
}

@media screen and (max-width:1000px) {
    #firstSec{
        .right{
            h1{
                font-size: 40px;
            }
            p{
                font-size: 22px;
            }
        }
    }
}
@media screen and (max-width:767px) {
    .rond, .square {
        display: none;
    }
    .decoration-title::after {
        content: none;
    }
    #rightDecoration {
        display: none;
    }
    #firstSec {
        margin: 15px 0;
        padding: 5px;

        .right {
            * {
                color: $VertPrincipale2;
            }
        }

        .left, .right {
            min-width: auto;
            width: 100%;
        }
    }
}

@media screen and (max-width: 992px) {
    .articleBlock {
        .postPreviewImage {
            display: none;
        }
    }

    #blog-sect1 {
        margin-bottom: 400px;

        .left {
            h1 {
                font-size: 35px;
            }
        }
    }
}

@media screen and (max-width: 909px) {
    #presentation {
        .left {
            width: 100%;
            text-align: center;

            h1 {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #presentation {
        margin-bottom: 150px;
    }
    #rightDecoration, .rond, .square {
        display: none;
    }
}
@media screen and (max-width: 1300px) {

    section {
        padding: 40px 75px;
    }
}
@media screen and (max-width: 767px) {
    section {
        padding: 40px 5%;
    }
}

/* Responsive */