/* Imports */
@import "../variable";
@import "../fonts";
/* Imports */
/* Body */
body {
    margin: 0;
    overflow-x: hidden;
}

/* Body */
/* Forms */
#rightDecoration {
    position: absolute;
    right: 0;
    top: -1px;
    z-index: -10;
    width: 70%;
    pointer-events: none;
}

#rondInv1 {
    width: 180px;
    height: 180px;
    position: absolute;
    left: 610px;
    bottom: 100px;
    z-index: -10;
    opacity: 0.45 !important;
}

#rondInv2 {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 350px;
    bottom: -70px;
    z-index: 1;
    opacity: 0.45 !important;
}

#rondInv3 {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: -25px;
    z-index: 10;
    opacity: 0.45 !important;
}

#rond01 {
    position: absolute;
    left: 250px;
    bottom: 10%;
    transform: rotate(45deg);
    z-index: -10;
}

/* Forms */
/* Blog style */
#blog-sect1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    padding: 80px 150px;

    .left {
        width: 40%;

        h1 {
            color: #393939;
            margin: auto 0;
            font-family: "Montserrat Bold", serif;
            font-size: 45px;
        }
    }

    .right {
        width: 40%;

        div {
            width: 100%;

            img {
                width: 100%;
            }
        }
    }

    #rondInv1 {
        width: 300px;
        height: 300px;
        position: absolute;
        left: -150px;
        bottom: -50px;
    }

    #rondInv2 {
        width: 180px;
        height: 180px;
        position: absolute;
        bottom: 90px;
        left: 570px;
    }

    .square {
        position: absolute;
    }

    #squareFonce {
        left: 350px;
        bottom: 50px;
        transform: rotate(45deg);
    }

    #squareClaire {
        right: 50px;
        bottom: 25px;
        transform: rotate(45deg);
    }
}

#articles {
    margin-bottom: 100px;
    padding: 50px 150px;
    .row {
        margin: 50px 0;
    }
}

.articleBlock {
    width: 75%;
    .background-left {
        z-index: 6;
        position: absolute;
        border-top-left-radius: 17px;
        border-bottom-left-radius: 17px;
        height: 100%;
        width: 70%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("../../image/ArticleForm.svg");
    }
    .background-left * {
        margin-left: 25px;
        padding: 0;
    }
    .background-left:nth-child(0n+1) {
        padding-top: 15px;
    }
    /*background-position: center;
    background-size: cover;*/
    background-repeat: no-repeat;
    background-size: 70%;

    border-radius: 17px;
    height: 300px;
    position: relative;
    /*.articleBackground{
      position: absolute;
      top: 0;
      left: 0;
      width: 90%;
      height: 100%;

    }*/
    h2 {
        word-break: break-word;
        font-weight: bold;
        color: white;
        padding-top: 20px;
        padding-left: 10px;
        width: 75%;

    }

    #separator {
        margin-left: 10px;
        border-bottom: 2px solid white;
        width: 35%;
    }
    .background-picture {
        position: absolute;
        right: 0;
        height: 100%;
        width: 40%;
    }

    p {
        word-break: break-word;
        width: 75%;
        margin-top: 10px;
        padding-bottom: 20px;
        padding-left: 10px;
        max-width: 650px;
        font-size: 20px;
        font-weight: bold;
        color: white;
    }

    .button {
        position: absolute;
        bottom: 0px;
        left: 5px;
        color: black;
        margin-bottom: 20px;
        margin-left: 10px;
        padding: 15px;
        background-color: white;
        border-radius: 30px;
        border: 0px solid transparent;
        font-family: "Montserrat Bold", serif;
    }

    .postPreviewImage {
        object-fit: cover;
        z-index: -100;
        width: 456px;
        height: 100%;
        position: absolute;
        background-position: center;
        background-size: cover;
        border-radius: 0px 15px 15px 0px;
        right: 0px;
        top: 0px;
    }
    #background-cards {
        z-index: 5;
        object-fit: cover;
        object-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-top-right-radius: 17px;
        border-bottom-right-radius: 17px;
    }
}

.moreArticles {
    background-color: rgb(86, 98, 45);
    color: White;
    margin: 10px;
    padding: 15px 80px;
    border-radius: 10px;
    font-size: 30px;
    border: 0px solid transparent;
    font-family: "Lato Bold";
}

/* Blog style */
/* Responsive */
@media screen and (max-width: 1234px) {
    #presentation {
        margin-bottom: 400px;

        .left {
            h1 {
                font-size: 50px;
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .articleBlock {
        .postPreviewImage {
            width: 43%;
        }
    }
}

@media screen and (max-width: 1096px) {
    #presentation {
        margin-bottom: 400px;

        .left {
            h1 {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .articleBlock {
        .postPreviewImage {
            display: none;
        }
    }

    #presentation {
        margin-bottom: 400px;

        .left {
            h1 {
                font-size: 35px;
            }
        }
    }
}

@media screen and (max-width: 909px) {
    #presentation {
        .left {
            width: 100%;
            text-align: center;

            h1 {
                font-size: 40px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #presentation {
        margin-bottom: 150px;
    }
    #rightDecoration, .rond, .square {
        display: none;
    }
}

/* Responsive */