/* Variable */
nav {
  padding: 16px !important;
}

nav a.nav-link {
  color: white;
  font-family: "Montserrat Regular", serif;
  text-align: center;
  padding: 5px;
  font-size: 25px;
}

nav a.navbar-brand {
  margin: 0;
  color: #7d8f41;
  font-family: "Montserrat Bold", serif;
}

nav li.separator {
  display: none;
  width: 100px;
  height: 1px;
  background-color: white;
  margin: 0 auto;
}

nav li.clickable > * {
  cursor: pointer;
}

nav .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav div.navbar-collapse {
  position: absolute;
  right: 50px;
}

nav .nav-item {
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: auto;
  margin: auto 10px;
}

nav .nav-item object {
  margin: 10px 0 0;
  color: white;
}

nav .nav-item object svg {
  color: white;
}

nav .nav-item div svg {
  margin: auto 0;
}

.rightDecoration {
  position: absolute;
  right: 0;
  top: -1px;
  z-index: -10;
}

#rightDecorationDefault {
  display: block;
}

#rightDecoration1301 {
  display: none;
}

@media screen and (max-width: 1500px) {
  .rightDecoration {
    right: -490px;
  }
  #rightDecorationDefault {
    display: none;
  }
  #rightDecoration1301 {
    display: block;
    top: 210px;
  }
  .navbar {
    background-color: #7D8F41;
  }
}

@media screen and (max-width: 1059px) {
  .rightDecoration {
    display: none !important;
  }
}

.HeaderWave {
  display: none;
}

.containerLogo .logo {
  width: 120px;
}

.containerLogo h1 {
  margin: auto 0 auto 15px;
  font-size: 34px;
}

.containerLogo #HeaderLogo_dark {
  display: block;
}

.containerLogo #HeaderLogo_light {
  display: none;
}

@media screen and (max-width: 1500px) {
  .rightDecoration {
    right: -490px;
  }
  #HeaderLogo_dark {
    display: none;
  }
  #HeaderLogo_light {
    display: block;
  }
  .navbar {
    background-color: #7D8F41;
  }
}

@media screen and (max-width: 1301px) {
  nav a.nav-link {
    font-size: 19px;
    padding: 0;
  }
}

@media screen and (max-width: 1301px) and (min-width: 350px) {
  nav img.logo {
    width: 350px;
  }
}

@media screen and (max-width: 1059px) {
  nav {
    background: #7d8f41;
    background: -webkit-gradient(linear, left top, left bottom, from(#283618), color-stop(40%, #415024), to(#7d8f41));
    background: linear-gradient(180deg, #283618 0%, #415024 40%, #7d8f41 100%);
    min-height: 212px !important;
    height: auto;
    display: block !important;
  }
  nav .containerLogo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  nav .containerLogo h1 {
    vertical-align: center;
  }
  nav .navbar-collapse {
    position: relative !important;
    right: 0 !important;
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  nav .navbar-collapse ul {
    margin: 0 !important;
  }
  .HeaderWave {
    display: block;
    -webkit-transform: rotate(0.5turn);
            transform: rotate(0.5turn);
  }
}

@media screen and (max-width: 767px) {
  nav {
    background: #7d8f41;
    background: -webkit-gradient(linear, left top, left bottom, from(#283618), color-stop(40%, #415024), to(#7d8f41));
    background: linear-gradient(180deg, #283618 0%, #415024 40%, #7d8f41 100%);
  }
  nav li.separator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  nav div.navbar-collapse {
    position: relative;
  }
  nav div.collapse {
    display: none;
  }
  nav li.nav-item {
    margin: 10px;
  }
  nav a.nav-link.animation:hover::after {
    width: 0;
  }
  nav .none-res {
    display: none;
  }
}

@media screen and (max-width: 350px) {
  nav .logo {
    width: 95%;
  }
}

::-webkit-scrollbar {
  width: 10px;
  height: 2px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: #3C3C3C;
  border: none;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track {
  background: #BEBEBE;
}

::-webkit-scrollbar-corner {
  background: transparent;
}